html{
    scroll-snap-type: y mandatory; // scrolling the y axis
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

body{
    background-color: #0c0c1d;
    color: lightgray;
}

a{
    text-decoration: none; //remove preset-designs
    color: inherit;
}

section{
    height: 100vh;
    scroll-snap-align: center;
}


.course{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;    

    .box{
        width:200px;
        height: 200px;
        background-color: white;
        transition: all 0s;
    }
}

@mixin mobile{
    @media (max-width: 738px) {
        @content;
    }
}

@mixin tablet{
    @media (max-width: 1024px) {
        @content;
    }
}


@mixin desktop{
    @media (max-width: 1366px) {
        @content;
    }
}


@mixin mac14inch{
    @media (max-width: 1964px) {
        @content;
    }
}