
.navbar {
    height: 100px;
  
    .wrapper {
      max-width: 1366px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
  
      span {
        font-weight: bold;
      }

      img {
        height: 18px;
        margin-right: 20px;
      }
    }
  }



